.linksAreaDiv {
    display: flex;
    width: auto;
    margin: 3px;
    direction: rtl;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.linksAreaContainer{
    height: 100%;
}

@media only screen and (min-width: 600px) {
.linksAreaContainer{
    min-height: 100vh;
}

}