.packageSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .packageSearchContainer {
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .packageSearchContainer {
    padding-bottom: 50px;
  }
}

#deliveryTrackingHeader {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.92px;
  text-align: center;
  color: #0c3058;
  Font: "Rubik" !important;

}


#subheadingShipmentTracking {
  font-size: 18px;
  font-weight: 1013px;
  line-height: 53px;
  text-align: center;
  color: #0C3058;
  margin-bottom: 6px;
  Font: "Rubik" !important;
}


#subheadingShipmentTrackingB {
  font-size: 18px;
  font-weight: 1013px;
  line-height: 53px;
  text-align: center;
  color: #0C3058;
  margin-bottom: 16px;
  Font: "Rubik" !important;
}


.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.custom-alert {
  width: 696px !important;
  padding: 16px !important;
  /* height: 35px !important; */
  border-radius: 8px !important;
  border: 1px solid #99C2FB !important;
  background-color: #FFFFFF !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  text-align: center !important;
  flex-direction: row !important;
  position: relative !important;
  color: #0C3058 !important;
  direction:rtl;
  gap:1rem;

}

.custom-alert p {
  text-align: right;
  line-height: normal;
}

.custom-alert p a  {margin-right:0.5rem;}
.custom-alert p a svg  {margin-right:0.35rem;}

input:-webkit-autofill {
  background-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  color: white !important;
}

.iconSpacing {
  position: absolute;
  right: 0px !important;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 100px;
}


.alert-text {
  text-align: center !important;
  width: 100%;
  color: rgba(32, 66, 113, 1) !important;
}

.custom-link {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.custom-link:hover {
  text-decoration: underline;
}

.TexstPadding {
  width: 538px;
  height: 48px;
  background-color: #FFFFFF !important;
}

.placeholderPadding {
  padding: 0px;
  direction: rtl;
  background-color: #FFFFFF;
}

.MuiAutocomplete-paper {
  background-color: #FFFFFF !important;
  border: 1px solid #000 !important;
}

.labelPadding {
  padding-left: 0px;
  padding-right: 0px;
}

#onclickSearch {
  width: 100px;
  height: 48px;
  background-color: #0068F5;
  border-radius: 8px 8px 8px 8px;
}

#outlined-basic {
  width: 538px;
  Height: 48px;
  padding: 0px;
  background-color: #FFFFFF !important;
}

.icon-search-container {
  display: block;
}

.personGlobeIcon {
  position: relative;
}

.btnContainer {
  width: 80%;
  display: flex;
  justify-content: start;
  margin: 0 auto;
  direction: rtl;

  #backBtn {
    background-color: transparent;
    color: #0068F5;
    border: none;
    align-self: last baseline;
  }
}



@media only screen and (max-width: 600px) {
  .searchStackContainer {
    width: 90% !important;
  }

  #deliveryTrackingHeader {
    font-size: 25px;
    padding: 20px;
  }

  .textContainer {
    padding: 10px;

    #subheadingShipmentTracking,
    #subheadingShipmentTrackingB {
      font-size: 18px;
    }
  }
}

#boxContainer{
  width: 90%  !important;
}