#deliveryTrackingHeader {
  font-size: 32px;
  font-weight: 700;
  line-height: 37.92px;
  text-align: center;
  color: #0c3058;
}

#subheadingShipmentTracking {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: center;
  color: #707070;
  margin-bottom: 16px; 
}

#subheadingShipmentTrackingB{
font-size: 18px;
font-weight: 500;
line-height: 24px;
text-align: center;
}



#outlined-basic{
width: 530px;
Height: 40px;
} 

#onclickSearch{
 width: 138px;
  Height: 40px;
 } 

 .searchDiv{
  background-color:#DEEEFA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icon-search-container{
display: block;
}

.icon-search-container svg{
  position:sticky; 
  }

  .searchDiv {
  
    justify-content: center;
    align-items: center;
    
  }
  
  .iconContainer {
    position: relative;
   
  }
  
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }