.packageTimeline{
    color: rgba(12, 48, 88, 1);
    width: 50%;
    direction: ltr;
    margin: 5px 5px 5px 30px;

    @media only screen and (max-width: 600px){
        width: 100%;
        margin: 0;
    }

    .MuiTimelineDot-root {
        margin: 0px;
        background-color: #0056D7;
    }
    
    .MuiTimelineConnector-root {
        background-color: #80B4FA;
        width: 1px;
    }

    h3{
        text-align: right;
        direction: rtl;
    }
    
    .MuiTimeline-root {
        color: #2B5287;
    }
}

.dateStyle{
    font-size: 12px;
    color: #287AE99E;
}

.linkStyle .MuiTypography-root{
    padding: 0px 10px 0 0 !important;
}
