.faq-card {
  margin-bottom: 10px;
  border: 1px solid rgba(43, 82, 135, 0.5);
  border-radius: 10px !important;
  max-width: 904px;
  width: 100%;
  /* Ensures the accordion takes up the full width up to max-width */
  margin: 0 auto !important;
  /* Center the accordion horizontally */
  text-align: center;
}

.expand-icon {
  color: rgba(43, 82, 135, 1);
  /* הגדרת צבע החץ */
  border: 2.5px;
}

.faq-question {
  color: #2B5287;
  font-weight: bold;
  text-align: center;
  Font: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 23.43px;


}

.faq-details {
  border-top: 1px solid #ccc;
  /* קו מפריד בין השאלה לתשובה */
  padding-top: 0px;
  /* מרווח נוסף מעל הקו אם רוצים */
}


.faq-answer {
  color: #2B5287;
  text-align: right;
  Font: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 23.43px;
}

@media only screen and (max-width: 600px) {
  panel1a-header {
    height: 60px;
  }
}