.packageStatus .MuiBox-root {
  background-color: rgba(242, 246, 252, 1);
  height: auto;
  width: 300px;
  min-height: 80px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.packageStatus {
  width: 45%;
  color: rgba(12, 48, 88, 1);
  text-align: right;
  direction: rtl;
  margin-right: 20px;

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-right: 0;
  }

  .linkStyle {
    text-decoration: none;
    color: #0068f5;
  }

  .textBox {
    background-color: #ffffff !important;
    border: 1px solid;
    border-color: #bbbbcb;
    border-radius: 8px !important;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: right;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
  }

  .confirmationMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .confirmBox {
    min-height: 17px;
  }

  .paragraphStyle {
    text-align: right;
    color: #0c3058;
    margin: 9px;
    width: 100%;
  }
}
