
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


body {
  font-family: 'Rubik', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
